mkdocs==1.4.2
mkdocs-codeinclude-plugin==0.2.1
mkdocs-git-revision-date-plugin==0.3.2
mkdocs-material==9.1.1
mkdocs-material-extensions==1.1.1
mkdocs-meta-descriptions-plugin==2.2.0
mkdocs-plugin-progress==1.2.0
mkdocs-thumbnails==0.0.9
mkdocs-toc-sidebar-plugin==0.1.0
